<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- <button type="button" onclick="openresource()">Watch Video</button> -->
    <div class="w3-container" style="background-color:black; padding: 30px 30px;">
        <h1 style="color: antiquewhite; text-align: center;"> Welcome to Blockchain Education</h1>
        <h4 style="color: antiquewhite; text-align: right;"> Instructor Name: Vivek Kumar</h4>
      </div>

    <form action="{{ url_for('initiate_student_details')}}" method="post">
       <div style="text-align: center;"> 
           <input type="text" id="to" name="to" placeholder=" Student Name">
        </div>
        <div style="text-align: center;"> 
            <input type="text" id="Content_type" name="content_type" placeholder="Content type">
         </div>
         <div style="text-align: center;"> 
            <input type="text" id="Content_topic" name="content_topic" placeholder="Content topic">
         </div>
         <div style="text-align: center;"> 
            <input type="text" id="Content_code" name="content_code" placeholder="Content code">
         </div>

         <div style="text-align: center;"> 
            <input type="text" id="score" name="score" placeholder="Score">
         </div>

         <div style="text-align: center;"> 
            <input type="text" id="feedback" name="feedback" placeholder="feedback">
         </div>
         <div style="text-align: center;"> 
            <button type="submit">Submit</button>
         </div>
        
    </form>
    <div class="w3-container" style="background-color:black; padding: 15px 15px;position: fixed;
    height: 50px; bottom: 0px;left: 0px; right: 0px; margin-bottom: 0px;">
        <h4 style="color: antiquewhite; text-align:center;"> Mitacs Globalink | Athabasca University</h4>
      </div>
</body>
<script>
    function openresource() {
        window.open('{{data}}', '_blank');
    }

    function openpdf() {
        window.open('{{data2}}', '_blank');
    }
</script>

</html>